.Login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.Login__form-inner{
    padding: 50px 42px;
    text-align: center;
    border: 1px solid;
}

.Login__form-input input{
    width: 250px;
    margin-bottom: 20px;
    height: 42px;
    letter-spacing: 1px;
    border: 8px;
    border-bottom: solid black 1px;
    outline: 0;
}
.Login__form-button button {
    width: 180px;
    height: 32px;
    margin-top: 20px;
    cursor: pointer;
    border: 1px;
    background: #ddd;
}
.Login__form-button button:hover{
    transform: scale(1.1);
    transition: 0.3s;
}