.ListJobs__Item{
    border: 1px solid #5f5e5f;
    padding: 20px;
    position: relative;
}

.ListJobs__Item::before{
    position: absolute;
    top: 0;
    width: 100%;
    height: 4px;
    left: 0;
    content: "";
    background-color: #5f5e5f;
}


.ListJobs__Item::after{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    left: 0;
    content: "";
    background-color: #5f5e5f;
}
.Item__title{
    font-size: 18px;
    color: #D34127;
    height: 55px;
    font-weight: 600;
}

